In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt

players = pd.read_csv('src/dtc_10-30-2021.csv')

players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        300 non-null    int64
 1   Name        300 non-null    object
 2   Unnamed: 2  0 non-null      float64
 3   Team        300 non-null    object
 4   Pos         300 non-null    object
 5   Age         300 non-null    object
 6   Value       300 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 16.5+ KB

The `Unnamed: 2` column seems to just be NaN values. Let's drop that.

In [11]:
players['Unnamed: 2'].describe()

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: Unnamed: 2, dtype: float64

In [9]:
players[players['Unnamed: 2'].notnull()]

Empty DataFrame
Columns: [Rank, Name, Unnamed: 2, Team, Pos, Age, Value]
Index: []

In [13]:
# df.drop(columns=['B', 'C'])
players = players.drop(columns=['Unnamed: 2'])
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rank    300 non-null    int64
 1   Name    300 non-null    object
 2   Team    300 non-null    object
 3   Pos     300 non-null    object
 4   Age     300 non-null    object
 5   Value   300 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 14.2+ KB

In [15]:
players.head(12)

    Rank                 Name Team Pos  Age  Value
0      1     Justin Jefferson  MIN  WR  22Y   45.1
1      2        Ja'Marr Chase  CIN  WR  21Y   44.9
2      3      Jonathan Taylor  IND  RB  22Y   44.2
3      4          CeeDee Lamb  DAL  WR  22Y   43.6
4      5           DK Metcalf  SEA  WR  23Y   43.2
5      6        D'Andre Swift  DET  RB  22Y   42.8
6      7         Najee Harris  PIT  RB  23Y   42.4
7      8          Tyreek Hill   KC  WR  27Y   41.7
8      9  Christian McCaffrey  CAR  RB  25Y   41.0
9     10          Dalvin Cook  MIN  RB  26Y   40.6
10    11        Davante Adams   GB  WR  28Y   40.3
11    12           Nick Chubb  CLE  RB  25Y   39.9